django==2.1.3
djangorestframework==3.7.7
django-compressor==2.2
django-sass-processor==0.7.2
django-environ==0.4.5
django-allauth==0.38.0
future==0.16.0
gunicorn==19.9.0
libsass==0.16.1
python-dateutil==2.6.1
