.primary-button button, .primary-button, .primary-buttons, .vote-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: GeezaPro;
  src: url(../fonts/Geeza-Pro.ttf);
}
/* GLOBAL DEFINITIONS
--------------------------------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: #F4F3F2;
  height: 100%;
}

/* Hide audio since we're using bottom buttons */
.audio {
  display: none;
}

#start-text {
  margin: 10px 0;
}

.title, .text {
  text-align: center;
  color: gray;
  font-weight: bold;
  margin-bottom: 10px;
}

#page-title {
  margin-top: 25px;
  alignment: center;
}

#instruction {
  margin-bottom: 50px;
}

/* ------------------------------------ */
/*  AYAH STYLES
--------------------------------------- */
#ayah-text {
  font-size: 26px;
  font-family: GeezaPro;
  font-weight: 400;
  color: #393e4e;
  text-align: center;
  direction: rtl;
  word-wrap: break-word;
  min-height: 0;
  margin-top: 0;
}
#ayah-text p {
  display: inline-block;
  direction: rtl;
  color: rgba(0, 0, 0, 0.125);
}
#ayah-text p:hover {
  color: #5ec49e;
  cursor: pointer;
}
#ayah-text p.highlight {
  color: black;
}

/* AUDIO PLAYER
--------------------------------------- */
.plyr--full-ui input[type=range] {
  color: #5ec49e !important;
}

.plyr--audio .plyr__control:hover {
  background-color: #5ec49e !important;
}

/* MODAL
--------------------------------------- */
.modal-body {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body input {
  font-size: 35px;
  text-align: center;
  direction: rtl;
  padding: 10px 5px;
}

.modal-footer button, .modal-footer a {
  flex: 1;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.modal-footer .cancel {
  background-color: #ff4f5e;
  color: #fff;
}
.modal-footer .submit {
  background-color: #5ec49e;
}

/* ------------------------------------ */
/* FORM
--------------------------------------- */
.row.user-form {
  display: none;
}

.user-form {
  text-align: center;
  position: relative;
  z-index: 5;
}
.user-form .form-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-form .form-content label {
  margin: 0 10px 0;
}
.user-form .user-button {
  background-color: #5ec49e;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  margin: 3em 0;
  border-radius: 3px;
  cursor: pointer;
}

/* ------------------------------------ */
/* AUDIO BUTTONS
--------------------------------------- */
.starting-wave {
  position: absolute;
  mask-image: linear-gradient(90deg, transparent 3%, #000, transparent 97%);
  -webkit-mask-image: linear-gradient(90deg, transparent 3%, #000, transparent 97%);
  width: 100%;
  height: 100px;
}

.vote-button {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 2;
  background: #fff;
  transition: all 0.2s linear;
  width: 130px;
  height: 57px;
  cursor: pointer;
}
.vote-button:hover, .vote-button.active {
  color: #fff;
}
.vote-button:hover svg g g, .vote-button.active svg g g {
  fill: #fff;
}
.vote-button svg {
  margin-right: 23px;
}
.vote-button.yes {
  -webkit-box-shadow: 0 5px 10px rgba(89, 203, 183, 0.3);
  box-shadow: 0 5px 10px rgba(89, 203, 183, 0.3);
}
.vote-button.yes:hover, .vote-button.yes.active {
  -webkit-box-shadow: 0 5px 10px rgba(89, 203, 183, 0.7);
  box-shadow: 0 5px 10px rgba(89, 203, 183, 0.7);
  background: #59cbb7;
}
.vote-button.no {
  -webkit-box-shadow: 0 5px 10px rgba(255, 79, 94, 0.2);
  box-shadow: 0 5px 10px rgba(255, 79, 94, 0.2);
}
.vote-button.no:hover, .vote-button.no.active {
  -webkit-box-shadow: 0 5px 10px rgba(255, 79, 94, 0.6);
  box-shadow: 0 5px 10px rgba(255, 79, 94, 0.6);
  background: #ff4f5e;
}

.primary-buttons {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.primary-button {
  margin: 0 40px;
  position: relative;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
}
.primary-button button {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: none;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  background: #fff;
}
.primary-button button:hover {
  opacity: 1;
}
.primary-button .background {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 109px;
  height: 109px;
  -webkit-filter: blur(7.6px);
  filter: blur(7.6px);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0.5;
  background: -webkit-gradient(linear, right top, left top, from(#88d1f1), to(#b1b5e5));
  background: linear-gradient(270deg, #88d1f1, #b1b5e5);
}
.primary-button.play svg {
  height: 22px;
}
.primary-button:hover .background {
  opacity: 1 !important;
}

#siri-container {
  position: absolute;
  top: -75px;
  left: 50%;
  bottom: 0;
  right: 0;
  width: 500px;
  transform: translateX(-50%);
}
#siri-container canvas {
  mask-image: linear-gradient(90deg, transparent 3%, #000, transparent 97%);
  position: absolute;
  width: 100% !important;
  max-width: 1360px;
  height: 250px !important;
}

/* NEXT BUTTON
--------------------------------------- */
.next-button {
  border: 1px solid lightgrey;
  color: black;
  transition: 0.25s linear;
  border-radius: 50px;
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: absolute;
  bottom: 10%;
  right: 50px;
}
.next-button svg {
  margin-left: 13px;
  margin-right: 0;
}
.next-button:hover {
  border: 1px solid #000;
  color: #000;
}
.next-button:hover svg g g {
  fill: #000;
}

@media screen and (max-width: 750px) {
  #container {
    padding: 0 10px;
  }

  .card {
    min-height: 200px;
  }

  #ayah-text {
    font-size: 18px;
  }

  .form-content {
    font-size: 14px;
  }

  .text {
    font-size: 14px;
  }

  .primary-buttons {
    margin-bottom: 10%;
  }

  .next-button {
    bottom: 10px;
    right: 20px;
    height: 35px !important;
    width: 75px !important;
    font-size: 14px;
  }

  .next-button svg {
    margin-left: 0;
  }

  .vote-button {
    width: 100px;
    height: 46px;
  }

  .primary-button {
    margin: 0 18px;
  }

  .primary-button button {
    width: 65px;
    height: 65px;
  }

  .primary-button .background {
    width: 80px;
    height: 80px;
  }

  #siri-container {
    top: -90px;
  }
}
/* ------------------------------------ */

/*# sourceMappingURL=tajweed-evaluator.css.map */
