{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <title>Tarteel</title>
    <script src="../../static/js/data.js"></script>
  </head>
    <body style="max-width: 750px; margin: auto">
    <div class="navbar" style="display: flex;">
      <div class="logo" >
        <a href="/">
          <img src="../../static/img/Logo3x.png" alt="Tarteel-logo">
          <button data-balloon="Total Ayas Recited" data-balloon-pos="down" class="counter">{{recording_count}}</button>
        </a>
      </div>
      <div class="list">
        <div><a href="/mobile_app" class="arabic-text rtl" data-i18n="mobile-app-link-text"></a></div>
        <div><a href="/profile/{{session_key}}" class="arabic-text rtl" data-i18n="profile-link-text"></a></div>
        <div><a href="/evaluator/evaluator" class="arabic-text rtl" data-i18n="evaluate-ayahs"></a></div>
        <div class="hidden">
          <div><a onclick="getRandomAyah()" class="arabic-text rtl" data-i18n="random-ayah-link-text"></a></div>
          <div><a href="/about" class="arabic-text rtl" data-i18n="about-link-text"></a></div>
        </div>
        <div class="settings"><button>
          <!--<img src="../../static/img/gear.png">-->
          <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="40" >
            <path
                    class="line top"
                    d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
            <path
                    class="line middle"
                    d="m 70,50 h -40" />
            <path
                    class="line bottom"
                    d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
          </svg>
        </button></div>
        <div class="settings-menu">
          <div class="list">
            <div><a onclick="getRandomAyah()" class="arabic-text rtl" data-i18n="random-ayah-link-text"></a></div>
            <div><a href="/about" class="arabic-text rtl" data-i18n="about-link-text"></a></div>
          </div>
        </div>
      </div>
      <button class="hamburger" onclick="toggleNavbarMenu()">
        <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="50" >
          <path
            class="line top"
            d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
          <path
            class="line middle"
            d="m 70,50 h -40" />
          <path
            class="line bottom"
            d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
        </svg>
      </button>
    </div>


    <div align="center"><link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <div id="counter" style="margin-top: 5em">
      <p class='counter-text large-arabic-text' data-i18n="ayahs-recited"></p>
    </div></div>

    <div align="center" class ="large-arabic-text" id="about_us_page_recited" ></div>

    <div id="core-text" class="about-page">
      <div class="info" id="start-text" align="left">

        <h2 data-i18n="about-page-first-paragraph-title" class="rtl"></h2>
        <div data-i18n="about-page-first-paragraph-text" class="rtl large-arabic-text"></div>

        <h2 data-i18n="about-page-second-paragraph-title" class="rtl"></h2>
        <div data-i18n="about-page-second-paragraph-text-1" class="rtl large-arabic-text"></div>
        <br><br>
        <div data-i18n="about-page-second-paragraph-text-2" class="rtl large-arabic-text"></div>
        <ul class="rtl">
          <li data-i18n="fields-of-use-first-item" class="large-arabic-text"></li>
          <li data-i18n="fields-of-use-second-item" class="large-arabic-text"></li>
          <li data-i18n="fields-of-use-third-item" class="large-arabic-text"></li>
        </ul>


        <h2 data-i18n="about-page-third-paragraph-title" class="rtl"></h2>

        <div data-i18n="about-page-third-paragraph-text" class="rtl large-arabic-text"></div>
        <ul class="rtl">
          <li data-i18n="contributor-1" class="large-arabic-text"></li>
          <li data-i18n="contributor-2" class="large-arabic-text"></li>
          <li data-i18n="contributor-3" class="large-arabic-text"></li>
          <li data-i18n="contributor-4" class="large-arabic-text"></li>
          <li data-i18n="contributor-5" class="large-arabic-text"></li>
          <li data-i18n="contributor-6" class="large-arabic-text"></li>
          <li data-i18n="contributor-7" class="large-arabic-text"></li>
          <li data-i18n="contributor-8" class="large-arabic-text"></li>
          <li data-i18n="contributor-9" class="large-arabic-text"></li>
          <li data-i18n="contributor-10" class="large-arabic-text"></li>
          <li data-i18n="contributor-11" class="large-arabic-text"></li>
          <li data-i18n="contributor-12" class="large-arabic-text"></li>
          <li data-i18n="contributor-13" class="large-arabic-text"></li>
          <li data-i18n="contributor-14" class="large-arabic-text"></li>
          <li data-i18n="contributor-15" class="large-arabic-text"></li>
          <li data-i18n="contributor-16" class="large-arabic-text"></li>
        </ul>

        <h2 data-i18n="about-page-fourth-paragraph-title" class="rtl" ></h2>
        <div data-i18n="about-page-fourth-paragraph-text" class="large-arabic-text rtl"></div>

        <h2 data-i18n="about-page-fifth-paragraph-title" class="rtl" ></h2>
        <div class="canvas-container" id="gender-canvas">
        <canvas id="gender_chart"></canvas>
        </div>
        <p>&nbsp;</p>
        <div class="canvas-container" id="age-canvas">
        <canvas id="age_chart"></canvas>
        </div>
        <p>&nbsp;</p>
        <div class="canvas-container" id="ethnicity-canvas">
        <canvas id="ethnicity_chart"></canvas>
        </div>

        <h2 data-i18n="about-page-sixth-paragraph-title" class="rtl"></h2>
        <div data-i18n="about-page-sixth-paragraph-text" class="rtl large-arabic-text"></div>
        <p>&nbsp;</p>
        <div class="canvas-container" id="ayah-canvas">
          <canvas id="ayah_chart"></canvas>
        </div>

        <h2 data-i18n="about-page-seventh-paragraph-title" class="rtl"></h2>
        <div data-i18n="about-page-seventh-paragraph-text" class="rtl large-arabic-text"></div>

        <h2 data-i18n="about-page-last-paragraph-title" class="rtl"></h2>
        <div data-i18n="about-page-last-paragraph-text" class="rtl large-arabic-text"></div>

        <footer style="flex-flow: column;padding-top: 2em">
          <div class="footer-btn" onclick="window.open('mailto:tarteel@abdellatif.io', '_self');">
            <span data-i18n="contact-us-button-text"></span>
          </div>
        </footer>


      </div>
    </div>
    </div>
    <div class="pick-language">
      <a class="lang-switch" data-locale="en">English</a> |
      <a class="lang-switch" data-locale="ar">العربيه</a>
    </div>
  </body>
<script src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
<script src="{% static 'js/progressbar.min.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.min.js' %}"></script>
<script src="{% static 'js/i18n/main-jquery_i18n.min.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.messagestore.min.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.fallbacks.min.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.language.min.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.parser.min.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.emitter.min.js' %}"></script>
<script src="{% static 'js/i18n/jquery.i18n.emitter.bidi.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>


  const numberWithCommas = (x) => {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }
  const h3 = document.querySelector("#about_us_page_ayah_count h3")
  //h3.innerHTML = numberWithCommas(h3.innerHTML)
  let ayahsRecited;
  try {
    ayahsRecited = Number(localStorage.getItem("ayahsRecited")) || 0
    if (ayahsRecited < 5) {
      $("#about_us_page_recited").css("display", "none")
    }
  } catch (e) {
    console.log(e.message)
  }

  function aboutLocalizationCallback() {
    $("#about_us_page_recited").html($.i18n("about-page-recited-ayahs-message", "{{unique_user_count}}", "{{recording_count_formatted}}"))
  }
// progressbar.js@1.0.0 version is used
// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/

  var bar = new ProgressBar.Circle(counter, {
    color: '#aaa',
    // This has to be the same size as the maximum width to
    // prevent clipping
    strokeWidth: 4,
    trailWidth: 1,
    easing: 'easeInOut',
    duration: 1400,
    text: {
      autoStyleContainer: false
    },
    from: { color: '#5ec49e', width: 1 },
    to: { color: '#5ec49e', width: 4 },
    // Set default step function for all animate calls
    step: function(state, circle) {
      circle.path.setAttribute('stroke', state.color);
      circle.path.setAttribute('stroke-width', state.width);
      //var value = Math.round(circle.value() * 50000);
      var value = Math.round(circle.value() * {{ recording_count }} *50000/{{ recording_count }});
      if (value === 0) {
        circle.setText('');
      } else {
        circle.setText(numberWithCommas(value));
      };
    }
  });
  bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
  bar.text.style.fontSize = '2rem';
  value = {{ recording_count }};
  animate_value = value/50000;
  bar.animate(animate_value);  // Number from 0.0 to 1.0



  var ctx = document.getElementById('gender_chart').getContext('2d');
  const backgroundColors2 = ["#8e5ea2", "#3e95cd"]
  const backgroundColors6 = ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#8888aa"]

  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'doughnut',

      // The data for our dataset
      data: {
          labels: {{gender_labels|safe}},
          datasets: [{
              label: "Reported Gender",
              backgroundColor: backgroundColors2,
              data: {{gender_data}},
          }]
      },

      // Configuration options go here
      options: {
        title: {
            display: true,
            text: 'Reported Gender'
        }
      }
  });

  var ctx = document.getElementById('age_chart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels: {{age_labels|safe}},
          datasets: [{
              backgroundColor:  backgroundColors6,
              data: {{age_data}},
          }]
      },

      // Configuration options go here
      options: {
        legend:{
          display:false
        },
        title: {
            display: true,
            text: 'Reported Age'
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Number of Users'
            }
          }],
        },
      },
  });

  var ctx = document.getElementById('ethnicity_chart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels: {{ethnicity_labels|safe}},
          datasets: [{
              backgroundColor:  backgroundColors6,
              data: {{ethnicity_data}},
          }]
      },

      // Configuration options go here
      options: {
        legend:{
          display:false
        },
        title: {
            display: true,
            text: 'Reported Ethnic Background'
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Number of Users'
            }
          }],
        },
      },
  });


  var ctx = document.getElementById('ayah_chart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels: {{count_labels|safe}},
          datasets: [{
              backgroundColor:  backgroundColors6,
              data: {{count_data}},
          }]
      },

      // Configuration options go here
      options: {
        legend:{
          display:false
        },
        title: {
            display: true,
            text: 'How many verses have __ # of recordings'
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Number of verses'
            },
            ticks: {
              min: 0,
            }
          }],
        },
      },
  });

</script>

</html>
