{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <div id="core-text">
      <div class="info" id="start-text" align="left">
          <h1>Download Audio Files</h1>
          <p>This page contains sample audio files that have been submitted by Tarteel users. The full audio files will
              be available once we have reached the 10,000 recording goal.
              <ul>
                  <li><a href="/sample-recordings" target="_blank">Download 50 Sample Recordings</a> (.zip)</li>
              </ul>
              Here are some samples:
              {% for file_url in file_urls %}
              <p><audio controls>
                <source src="{{file_url}}" type="audio/mp3">
               </audio></p>
              {% endfor %}
          </p>
      </div>
  </div>
</body>
</html>
