{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'audio/css/style.css' %}" rel="stylesheet">
    <title>Download Audio</title>
</head>
<body>
<div id="core-text">
    <div class="info" id="start-text" align="left">
        <h1>Download Tarteel Datasets</h1>
        <p>The full dataset is available in CSV format. Audio files can be downloaded from the accompanying URLs
            in the CSV.
        <ul>
            <li><a href="{% static 'audio/datasets/tarteel_v1.0.csv' %}" target="_blank">Tarteel version 1.0</a> (.csv, 2.66 MB) -- approximately 25,000 recordings without evaluations
            </li>
        </ul>
        You can also download the <a href="/download-full-dataset-csv" target="_blank">live version of the Tarteel dataset</a>, which includes all of
                the recordings submitted to Tarteel, up to the most recent recording. Please allow some time to download.
            </li>

        </p>

        <h2>Download Sample Recordings</h2>
        <p>This page also contains sample audio files that have been submitted by Tarteel users.
        <ul>
            <li><a href="/sample-recordings" target="_blank">Download 50 Sample Recordings</a> (.zip)</li>
        </ul>
        Here are some samples:
        {% for file_url in file_urls %}
            <p>
                <audio controls>
                    <source src="{{ file_url }}" type="audio/mp3">
                </audio>
            </p>
        {% endfor %}
        </p>
    </div>
</div>
</body>
</html>
